/* Natural box layout model for all elements */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
	background: #4d4d4f url(../images/condensed-background.svg) 50% 50% no-repeat;
	background-size: cover;
	color: #ffffff;
	font-family: "abril-text", georgia, serif;
	font-feature-settings: "liga", "kern";
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-align: center;
}

a {text-decoration: none;}
a:link, a:visited {color: #fff200;}
a:hover, a:active {color: #a6ce39;}

b {font-weight: 600;}

.wrap {
	margin: 0 auto;
	min-width: 320px;
	width: 75%;
}

.logo-image {
	margin: 16em auto 0 auto;
	min-width: 320px;
	width: 75%;
}

.logo-image img {
	margin: 0;
	text-align: center;
}

.sota-logo {
	height: 30px;
	margin: 0;
	width: 122px;
}

.event-info {
	clear: both;
	font-size: 1.5em;
	line-height: 1;
	padding-top: 0;
}

.status-message {
	margin: 0 0 8em 0;
}

.about {
	background: #4d4d4f;
	border-top: 1px solid rgba(255,255,255,.25);
	margin: 1.5em 0 0 0;
	padding: 6em 12.5%;
	text-align: left;
	width: 100%;
}

.about p {
	font-feature-settings: "liga", "kern";
}

.about img {
	margin: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.group-photos {
	list-style-type: none;
	margin: 3em auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

.group-photos li {
	float: left;
	margin: 0 .75em .75em 0;
	padding: 0;
}

.group-photos li img {
	height: 150px;
	vertical-align: bottom;
	width: 150px;
}

.group-photos li a {
	border: 8px solid #444;
	display: block;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.group-photos li a:hover, .group-photos li a:active {
	border-color: #fff200;
}

/*.group-photos li:nth-child(6n+6) {
	margin-right: 0;
}*/